@import "tailwindcss";

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-image: url("/images/wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "Georama";
  src: url("/fonts/Georama/Georama-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georama";
  src: url("/fonts/Georama/Georama-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply bg-white/50 backdrop-blur-3xl select-none py-2 px-5 flex justify-between items-center;

    div {
      @apply flex items-center gap-5;
    }

    ul {
      @apply flex gap-5 items-center;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all;
      }
    }

    time {
      @apply text-sm font-medium text-black;
    }
  }
}

@layer components {
  .icon {
    @apply hover:bg-gray-200 p-1  hover:cursor-default rounded;
  }

  #welcome {
    @apply abs-center text-gray-200 select-none col-center;

    .small-screen {
      @apply sm:hidden bg-red-300/20 rounded p-3 absolute m-7 top-10 absolute backdrop-blur-lg;

      p {
        @apply text-base flex-1 text-gray-400 font-roboto flex-1 text-center;
      }
    }
  }
}
