@import "tailwindcss";

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-image: url("/images/wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "Georama";
  src: url("/fonts/Georama/Georama-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georama";
  src: url("/fonts/Georama/Georama-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply bg-white/50 backdrop-blur-3xl select-none py-2 px-5 flex justify-between items-center;

    div {
      @apply flex items-center gap-5;
    }

    ul {
      @apply flex gap-5 items-center;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all;
      }
    }

    time {
      @apply text-sm font-medium text-black;
    }
  }
}

@layer components {
  .icon {
    @apply hover:bg-gray-200 p-1  hover:cursor-default rounded;
  }

  #welcome {
    @apply abs-center text-gray-200 select-none col-center;

    .small-screen {
      @apply sm:hidden bg-red-300/20 rounded p-3 absolute m-7 top-10 backdrop-blur-lg;

      p {
        @apply text-base text-gray-400 font-roboto flex-1 text-center;
      }
    }
  }

  #dock {
    @apply absolute left-1/2 -translate-x-1/2 bottom-5 select-none max-sm:hidden z-50;

    .dock-container {
      @apply bg-white/20 backdrop-blur-md justify-between rounded-2xl p-1.5 flex items-end gap-1.5;
    }

    .tooltip {
      @apply !py-1 !px-3 !w-fit !text-center !text-xs !rounded-md !bg-blue-200 !text-blue-900 !shadow-2xl;
    }

    .dock-icon {
      @apply size-14 3xl:size-20 cursor-pointer;

      img {
        @apply object-cover object-center;
      }
    }
  }

  #window-controls {
    @apply flex gap-2;

    button {
      @apply size-3.5 cursor-pointer rounded-full;
    }

    .close {
      @apply bg-[#ff6157];
    }

    .minimize {
      @apply bg-[#ffc030];
    }

    .maximize {
      @apply bg-[#2acb42];
    }
  }

  #window-header {
    @apply flex items-center justify-between px-4 py-3 rounded-t-lg bg-gray-50 border-b border-gray-200 select-none text-sm text-gray-400;
  }

  #terminal {
    @apply w-xl top-32 left-1/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    h2 {
      @apply font-bold text-sm text-center w-full;
    }

    .tech-stack {
      @apply text-sm font-roboto p-5;

      .label {
        @apply flex items-center ms-10 mt-7;
      }

      .content {
        @apply py-5 my-5 border-y border-dashed space-y-1;

        li {
          .check {
            @apply text-[#00A154] w-5;
          }

          h3 {
            @apply text-[#00A154] font-semibold w-32 ms-5;
          }

          ul {
            @apply flex items-center gap-3;
          }
        }
      }

      .footnote {
        @apply text-[#00A154] space-y-1;

        p {
          @apply flex items-center;

          svg {
            @apply w-5 me-5;
          }
        }
      }
    }
  }
}
